html{
    font-family: 'Roboto', sans-serif;
 }


 
.container {
    display: flex;
    flex-direction: column;
    flex-flow: center;
    align-items: center;
    height: 500px;
}

ul {
    list-style: none;
}

.box1 {
    text-align: center;

}

.score-style {
    margin: 17px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    width: 150px;
    height: 40px;
}

.style-QA {
    font-size: 18px;
}

.style-msg {
    background-color: black;
}

button {
    background-color: black;
    color: white;
    margin:0 auto;
    font-size: 20px;
    display:block;
    width: 100px;
    height: 50px;
}

fieldset {
    border: 0px;
}

.something {
    display: list-item;
    flex-direction: column;
    text-align: center;
    list-style: none;
    margin-bottom: 20px;
}

.finalText {
    padding-bottom: 10px;
    font-size: 30px;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

@media only screen and (max-width: 375px){
    .box1{
        height: 400px;
        padding: 10px;
        font-size: 20px;
        text-align: center;
        background-color: black;
        color: white;
    }
    .container{
        background-color: black;
        color: white;
    }
    .style-QA,.style-msg,.score-style{
        background-color: black;
    }
    img {
        height: 150px;
        width: 150px;
        margin: auto;
        padding: 10px;
    }
}
@media only screen and (min-width: 376px){
    .box1{
        height: 500px;
        padding: 10px;
        font-size: 20px;
        text-align: center;
        background-color: black;
        color: white;
    }
    .container{
        height: 1000px;
        color: white;
        background-image: url(assets/matrixCode.jpg);
        background-size: cover;
      }
    .style-QA, .box4{
        background-color: black;
    }
    img {
        height: 200px;
        width: 200px;
        margin: auto;
        padding: 15px;
    }
    .style-msg, .style-QA, .box4{
        padding: 30px;
    }
}